{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />

    <!-- HEAD -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
            <!-- HOME -->
            <!-- HEADER -->
            <!-- LOGIN CORNER -->
            <td>{% include "algorithms/home.html" %}</td>
            <td><h1>Add algorithm</h1></td>
            <td>{% include "algorithms/login_corner.html" %}</td>
        </tr>
        </tbody>
    </table>
    
</head>
<hr>
<body>    
        <!-- BODY -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
        
            <!-- USER TAB -->
            <td>
                {% include "algorithms/user_tab.html" %}  
            </td>
            
            <!-- BODY #1 -->
            <td>
                <form name="form" id="form" action="{% url 'submit_algorithm' %}" method="post">
                    {% csrf_token %}
                    <p>Name</p><input name="name" id="name" type="text" width="400px"><br>
                    <p>Description</p><textarea name="description" id="description"></textarea><br>
                    <p>Language</p>
                        <select name="language" id="language">
                        {%for i in language_list%}
                        <option>
                            {{i}}
                        </option>
                        {%endfor%}
                    </select><br>
                    <p>Code</p><textarea name="code" id="code"></textarea>
                    <p>Build String</p><input name="build_string" id="build_string" type="text" width="400px"><br>

                    <p>Run String<br><small>(Pay attention to the Test Data file name)</small></p>
                    <input name="run_string" id="run_string" type="text" width="400px"><br>

                    <p>Test Data<br><small>(Will be stored in "test_data.txt")</small></p>
                    <textarea name="test_data" id="test_data"></textarea>

                    <p>Price</p><input name="price" id="price" type="text" value="0" width="400px"><br>
                    <p>Tags</p><input name="tags" id="tags" type="text" width="400px"><br>
                    <input type="submit" value="Submit">
                </form>
            </td>
    
            <!-- BODY #2 -->
            <td></td>
            
        </tr>
        </tbody>
    </table>
</body>
</html>