<!DOCTYPE html>
<html>
<head lang="en">
    <style> ul { padding: 0; margin-left: 20px; margin-right: 20px; } </style>
    <meta charset="UTF-8">
    {% load staticfiles %}

    <script src="{% static 'algorithms/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'algorithms/js/jquery.form.js' %}"></script>
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />
    
    <!-- HEAD -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
            <!-- HOME -->
            <!-- HEADER -->
            <!-- LOGIN CORNER -->
            <td>{% include "algorithms/home.html" %}</td>
            <td><h1>Main Page</h1></td>
            <td>{% include "algorithms/login_corner.html" %}</td>
        </tr>
        </tbody>
    </table>
    
</head>
<hr>
<body>
    <!-- BODY -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
        
            <!-- USER TAB + TAGS-->
            <td>
                {% include "algorithms/user_tab.html" %}  
                {% for tag in tags_list %}
                    <a href="{{ object.get_absolute_url }}/algorithms/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </td>
            
            <!-- BODY #1 -->
            <td>
                {% csrf_token %}
                <input type="text" value="">
                <input type="button" value="Search"><br>
                <select name="selected_alg" multiple="False" id='lstBox1' style="font-family:verdana;
                                                    font-size:10pt;
                                                    width : 400px;
                                                    height:200px;">
                    {% for item in algs_list %}
                        <option id="{{ item }}" name="{{ item }}" value="{{ item }}" onclick="getDescription()"> {{ item }} </option>
                    {% endfor %}
                </select><br>
                <input type="button" value="View detailed info" onclick="redirect()"/>
                <input type="button" value="Update" onclick="updateAlgorithm()"/><br>
            </td>
            
            <!-- BODY #2 -->
            <td>
                {% csrf_token %}
                <textarea readonly id="description" name="description" 
                        style="width:300px; height:200px;resize:none;font-family: monaco, Consolas, 'Lucida Console', monospace; font-size: 11px; font-style: normal; background: white;"> 
                </textarea>
            </td>
            
        </tr>
        </tbody>
    </table>
    
</body>

<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);

                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

function getDescription(){
    var algSelect = $("#lstBox1 option:selected").text();
    var url =  "/algorithms/"+algSelect+"/description/";
    url = url.replace(/\s/g, '');

    $.ajax({
            url: url,
            type: "POST",
            async: true,
            success: function(response) {
                $("#description").val(response);
            },
            error: function(response) {
                alert(JSON.stringify(response));
            }
        });
}

function redirect() {
    var algSelect = $("#lstBox1 option:selected").text();

    var newUrl = "{{ object.get_absolute_url }}" + "/algorithms/" + algSelect;
    newUrl = newUrl.replace(/\s/g, '');
    
    window.location.replace(newUrl);
    
}


function updateAlgorithm() {
    var algSelect = $("#lstBox1 option:selected").text();
    if (algSelect == "")
        return;

    var currUrl = window.location.href;

    var newUrl = "";

    newUrl = currUrl + "update_algorithm_page/" + algSelect;
    newUrl = newUrl.replace(/\s/g, '');
    window.location.replace(newUrl);
}

</script>
</html>



