<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <script src="{% static 'algorithms/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'algorithms/js/jquery.form.js' %}"></script>
    <title></title>
</head>
<body>
    {% include "algorithms/login_corner.html" %}   
    {% csrf_token %}
    <input type="text" value="">
    <input type="button" value="Search"><br>
    <select name="selected_alg" multiple="False" id='lstBox1' style="font-family:verdana;
                                        font-size:10pt;
                                        width : 400px;
                                        height:200px;">
        {% for item in algs_list %}
            <option id="{{ item }}" name="{{ item }}" value="{{ item }}" onclick="getDescription()"> {{ item }} </option>
        {% endfor %}
    </select><br>
    <input type="button" value="GO!!!111111" onclick="redirect()"/>
    <form name="add_algorithm" id="add_algorithm" action="{% url 'add_algorithm' %}" method="post" >
        {% csrf_token %}
        <input type="submit" name="add_algorithm" value="add_algorithm">
    </form>
    <input type="button" value="update" onclick="updateAlgorithm()"/>
    {% csrf_token %}
    <textarea readonly id="description" name="description" style="width:100%; height:100%;resize:none;font-family: monaco, Consolas, 'Lucida Console', monospace; font-size: 11px; font-style: normal; background: white;"> </textarea>
</body>

<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);

                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

function getDescription(){
    var algSelect = $("#lstBox1 option:selected").text();
    var url =  "/algorithms/"+algSelect+"/description/";
    url = url.replace(/\s/g, '');

    $.ajax({
            url: url,
            type: "POST",
            async: true,
            success: function(response) {
                $("#description").val(response);
            },
            error: function(response) {
                alert(JSON.stringify(response));
            }
        });
}

function redirect() {
    var algSelect = $("#lstBox1 option:selected").text();

    var currUrl = window.location.href;

    var newUrl = "";

    newUrl = currUrl + algSelect;
    newUrl = newUrl.replace(/\s/g, '');
    window.location.replace(newUrl);
}


function updateAlgorithm() {
    var algSelect = $("#lstBox1 option:selected").text();

    var currUrl = window.location.href;

    var newUrl = "";

    newUrl = currUrl + "update_algorithm_page/" + algSelect;
    newUrl = newUrl.replace(/\s/g, '');
    window.location.replace(newUrl);
}

</script>
</html>



