	<center>

    {% if not login %}
        <form name="form" id="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <p>LOGIN </p><input name="login" id="login" type="text" width="400px"><br>
        <p>PASSWORD </p><input name="password" id="password" type="password" width="400px"><br>
        <p>ZABYL </p>
        <input type="submit" value="LOGIN!!!!!!!!!!!!!!!!!!!!!">
        </form>
        <form name="register" id="register" action="{% url 'register' %}" method="post" >
        {% csrf_token %}
            <input type="submit" name="register" value="REGISTER!!!!">
        </form>
    {% else %}
        <p> You were logged in as {{ login }} </p>
        <form name="form" id="form" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="LOGOUT!!!!!!!">
        </form>
    {% endif %}   
	</center>