<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <script src="{% static 'algorithms/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'algorithms/js/jquery.form.js' %}"></script>
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />
    <link href="{% static 'algorithms/css/main_style.css' %}" rel="stylesheet" />
    
</head>
<div id="container">
        <div class="header">
            <!-- HOME -->
            <div class="left-header">
              {% include "algorithms/home.html" %}
            </div>
            <!-- HEADER -->
            <div class="middle-header">
              <h1 style="color: white;">Login</h1>
            </div>
            <!-- LOGIN CORNER -->
            <div class="right-header">
              
            </div>
        </div>

    <!-- BODY -->
        <!-- THREE COLUMNS -->
        
            <!-- USER TAB -->
        <div class="content">
            <div class="col left">
                {% include "algorithms/user_tab.html" %}
            </div>
            <!-- BODY #1 -->
            <div class="col middle">
                {% if not login %}
                    <form name="form" id="form" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <p>Login </p><input name="login" id="login" type="text" width="400px"><br>
                        <p>Password </p><input name="password" id="password" type="password" width="400px"><br>
                        <p><a href="{% url 'index' %}">Forgot password</a></p>
                        <input type="submit" value="Sign In">
                    </form>
                    <form name="register_form" id="register_form" action="{% url 'register' %}" method="post" >
                        {% csrf_token %}
                        <input type="submit" name="register" value="Register">
                    </form>
                {% else %}
                    <p> Signed in as: {{ login }} </p>
                    <form name="form" id="form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Sign Out">
                    </form>
                {% endif %}   
            </div>
            
            <!-- BODY #2 -->
            <div class="col right"></div>
        </div>
        
        <div class="footer">
            <div class="left-header">
            </div>
            <!-- HEADER -->
            <div class="middle-header">
            </div>
            <!-- LOGIN CORNER -->
            <div class="right-header">
              <p style="color: white;">Designed by Kolya, Fedya, Nikita and Tanya. All rights reserved :)</p>
            </div>
      </div>
    
</div>