<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <script src="{% static 'algorithms/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'algorithms/js/jquery.form.js' %}"></script>
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />
    <link href="{% static 'algorithms/css/main_style.css' %}" rel="stylesheet" />
    
</head>
<body>
    <div id="container">
        <div class="header">
            <!-- HOME -->
            <div class="left-header">
              {% include "algorithms/home.html" %}
            </div>
            <!-- HEADER -->
            <div class="middle-header">
              <h1 style="color: white;">{{ header }}</h1>
            </div>
            <!-- LOGIN CORNER -->
            <div class="right-header">
              {% include "algorithms/login_corner.html" %}
            </div>
        </div>

    <!-- BODY -->
    <div class="content">
        <!-- USER TAB -->
        <div class="col left">
            {% include "algorithms/user_tab.html" %}  
        </div>
        
        <!-- BODY #1 -->
        <div class="col middle"><h2>{{ message }}</h2></div>
        
        <!-- BODY #2 -->
        <div class="col right"></div>
    </div>
    
        <div class="footer">
            <div class="left-header">
            </div>
            <!-- HEADER -->
            <div class="middle-header">
            </div>
            <!-- LOGIN CORNER -->
            <div class="right-header">
              <p style="color: white;">Designed by Kolya, Fedya, Nikita and Tanya. All rights reserved :)</p>
            </div>
        </div>
    
</div>

</body>
</html>