{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
            <!-- HOME -->
            <!-- HEADER -->
            <!-- LOGIN CORNER -->
            <td>{% include "algorithms/home.html" %}</td>
            <td><h1>Reset Password</h1></td>
            <td>{% include "algorithms/login_corner.html" %}</td>
        </tr>
        </tbody>
    </table>
    
</head>
<hr>
<body>

    <!-- BODY -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
        
            <!-- USER TAB -->
            <td>
                {% include "algorithms/user_tab.html" %}  
            </td>
            
            <!-- BODY #1 -->
            <td>
                <form name="form" id="form" action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    <p>Login <input name="login" id="login" type="text"></p>
                    <p>Email <input name="email" id="email" type="text"></p>
                    <input type="submit" value="Send email">
                </form>
            </td>
            
            <!-- BODY #2 -->
            <td></td>
            
        </tr>
        </tbody>
    </table>

</body>
</html>