<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <script src="{% static 'algorithms/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'algorithms/js/jquery.form.js' %}"></script>
    <title></title>
</head>
<body>
	<center>
		<h1>REGISTER </h1>
		<form name="form" id="form" action="{% url 'register' %}" method="post">
		{% csrf_token %}
		<p>LOGIN </p><input name="login" id="login" type="text" width="400px"><br>
		<p>PASSWORD </p><input name="password" id="password" type="password" width="400px"><br>
		<p>PASSWORD ECHO RAZ </p><input name="confirm_password" id="confirm_password" type="password" width="400px"><br>
		<p>EMAIL </p><input name="email" id="email" type="text" width="400px"><br>
		<input type="submit">
		</form>
	</center>
</body>