<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <script src="{% static 'algorithms/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'algorithms/js/jquery.form.js' %}"></script>
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />
    
    <!-- HEAD -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
            <!-- HOME -->
            <!-- HEADER -->
            <!-- LOGIN CORNER -->
            <td>{% include "algorithms/home.html" %}</td>
            <td><h1>Registration</h1></td>
            <td>{% include "algorithms/login_corner.html" %}</td>
        </tr>
        </tbody>
    </table>
    
</head>
<hr>
<body>
    
    <!-- BODY -->
    <table style="width:100%">
        <tbody>
        <!-- THREE COLUMNS -->
        <tr>
        
            <!-- USER TAB -->
            <td></td>
            
            <!-- BODY #1 -->
            <td>
                <form name="form" id="form" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <p>Login </p><input name="login" id="login" type="text" width="400px"><br>
                    <p>Password </p><input name="password" id="password" type="password" width="400px"><br>
                    <p>Confirm Password </p><input name="confirm_password" id="confirm_password" type="password" width="400px"><br>
                    <p>Email </p><input name="email" id="email" type="text" width="400px"><br>
                    <input type="submit" value="Register">
                </form>
            </td>
            
            <!-- BODY #2 -->
            <td></td>
            
        </tr>
        </tbody>
    </table>
    
</body>