{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'algorithms/css/bootstrap-combined.min.css' %}" rel="stylesheet" />
    <link href="{% static 'algorithms/css/main_style.css' %}" rel="stylesheet" />
    
</head>

<body>
    <div id="container">
    <div class="header">
        <!-- HOME -->
        <div class="left-header">
          {% include "algorithms/home.html" %}
        </div>
        <!-- HEADER -->
        <div class="middle-header">
          <h1 style="color: white;">Update algorithm</h1>
        </div>
        <!-- LOGIN CORNER -->
        <div class="right-header">
          {% include "algorithms/login_corner.html" %}
        </div>
    </div>
    <!-- BODY -->
    <div class="content">
              <!-- THREE COLUMNS -->
            <div class="col left">
                {% include "algorithms/user_tab.html" %}  
            </div>
            
            <!-- BODY #1 -->
            <div class="col middle">
                <form name="update" id="update" action="{% url 'update_algorithm' %}" method="post" >
                    {% csrf_token %}
                    <input name="original_name" id="original_name" type="hidden" width="400px" value="{{name}}">
                    <p>Name</p><input name="name" id="name" type="text" style="width: 95%" value="{{name}}"><br>
                    <p>Description</p><textarea name="description" id="description">{{description}}</textarea> <br>
                    <p>Language</p>
                        <select name="language" id="language" style="height:40px">
                        {%for i in language_list%}
                        <option>
                            {{i}}
                        </option>
                        {%endfor%}
                    </select><br>
                    <p>Code</p><textarea name="code" id="code">{{code}}</textarea>
                    <p>Build string</p><input name="build_string" id="build_string" type="text" style="width: 95%" value="{{build_string}}"><br>
                    <p>Run string<br><small>(Pay attention to the Test Data file name)</small></p>
                    <input name="run_string" id="run_string" type="text"style="width: 95%" value="{{run_string}}"><br>
                    <p>Test data<br><small>(Will be stored in "test_data.txt")</small></p>
                    <textarea name="test_data" id="test_data">{{test_data}}</textarea>
                    <p>Price</p><input name="price" id="price" type="text" style="width: 95%" value="{{price}}"><br>
                    <p>Tags</p><input name="tags" id="tags" type="text" style="width: 95%" value="{{tags}}"><br>
                    <input type="submit" value="Update">
                </form>
            </div>
            
            <!-- BODY #2 -->
            <div class="col right"></div>
            
        </div>
        <div class="footer">
        <div class="left-header">
        </div>
        <!-- HEADER -->
        <div class="middle-header">
        </div>
        <!-- LOGIN CORNER -->
        <div class="right-header">
          <p style="color: white;">Designed by Kolya, Fedya, Nikita and Tanya. All rights reserved :)</p>
        </div>
      </div>
    </div>
    
</body>
</html>